[submodule "Entities/thesdk"]
	path = Entities/thesdk
    url = git@github.com:TheSystemDevelopmentKit/thesdk.git
[submodule "thesdk_helpers"]
	path = thesdk_helpers
	url = git@github.com:TheSystemDevelopmentKit/thesdk_helpers.git
[submodule "Entities/inverter"]
	path = Entities/inverter
	url = git@github.com:TheSystemDevelopmentKit/inverter.git
[submodule "Entities/inv_sim"]
	path = Entities/inv_sim
	url = git@github.com:TheSystemDevelopmentKit/inv_sim.git
[submodule "Entities/rtl"]
	path = Entities/rtl
	url = git@github.com:TheSystemDevelopmentKit/rtl.git
[submodule "Entities/myentity"]
	path = Entities/myentity
	url = git@github.com:TheSystemDevelopmentKit/tutorial_entity.git
[submodule "Entities/spice"]
	path = Entities/spice
	url = git@github.com:TheSystemDevelopmentKit/spice.git
[submodule "Entities/register_template"]
	path = Entities/register_template
	url = git@github.com:TheSDK-blocks/register_template.git
