[submodule "Entities/thesdk"]
	path = Entities/thesdk
    url = git@github.com:TheSystemDevelopmentKit/thesdk.git
[submodule "Entities/vhdl"]
	path = Entities/vhdl
    url = git@github.com:TheSystemDevelopmentKit/vhdl.git
[submodule "Entities/verilog"]
	path = Entities/verilog
    url = git@github.com:TheSystemDevelopmentKit/verilog.git
[submodule "Simulations/Simtemplate"]
	path = Simulations/Simtemplate
    url = git@github.com:TheSystemDevelopmentKit/simtemplate.git
[submodule "Simulations/Slidetemplate"]
	path = Simulations/Slidetemplate
    url = git@github.com:TheSystemDevelopmentKit/slidetemplate.git

[submodule "Entities/rtl"]
	path = Entities/rtl
	url = git@github.com:TheSystemDevelopmentKit/rtl.git
[submodule "thesdk_helpers"]
	path = thesdk_helpers
	url = git@github.com:TheSystemDevelopmentKit/thesdk_helpers.git
