setuptools
wheel
gnureadline
numpy==1.26.0
numpydoc
matplotlib
joblib
scipy
pandas
sphinx
sphinx_rtd_theme
pyelftools
sortedcontainers
bitstring
pyyaml
cocotb
cocotb_test
pytest

cocotbext-axi 
cocotbext-uart 
cocotbext-jtag 
git+https://gitlab.com/a-core/cocotbext-obi.git@6157297d137ce0c15ff91956b86456f8d238aadd

